@keyframes rotate {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(345deg);
  }
}

@keyframes rotateTriangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2ff;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  transform: rotate(-15deg);
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  animation: rotate 20s linear infinite;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  height: 32px;
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-position: center;
}

.header__title {
  align-self: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  
}

.header__subtitle {
  position: absolute;
  z-index: 1;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #2F80ED;
  text-decoration: none;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity: .6;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: 1;
  background-position: center;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text p:last-child {
  margin-bottom: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-weight: bold;
}

.section-title {
  padding: 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 100px auto 20px;
  text-align: center;
}

.section-subtitle {
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.technics {
  width: 80%;
  margin: 0 auto;
}

.cards {
  margin: 0 auto;
  width: 920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
}

.cards__item {
  width: 240px;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.cards__title {
  margin: 0 0 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;

}

.cards__description {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video__iframes {
  display: flex;
  justify-content: center;
  transform: translate(0, 50px);
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: 0;
  margin-right: 20px;
}

.video__iframe:last-child {
  margin-right: 0;
}

.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2ff;
  padding-top: 60px;
}

.table {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.table__heading {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell p:last-child {
  margin: 0;
}

.feinman {
  padding-top: 80px;
  position: relative;
  height: 790px;
  background-color: #f2f2f2ff;
  z-index: 1;
}

.feinman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.feinman__title {
  position: relative;
  width: 648px;
  margin: 0 auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.feinman__subtitle {
  position: relative;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  z-index: 1;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  z-index: 1;
  transition: opacity .2s linear;
}

.feinman__link:hover {
  opacity: .6;
}

.khan {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2ff;
}

.khan__container {
  width: 80%;
  padding-top: 105px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 50px;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 0 0 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.khan__qoute-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 20px;
  object-fit: cover;
  object-position: top;
}

.khan__book-container {
  display: flex;
  align-items: flex-start;
  
}

.khan__buy-link {
  color: #2F80ED;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity .2s linear;
}

.khan__buy-link:hover {
  opacity: .6;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  overflow: hidden;
}

.kaufman__triangle {
  animation: rotateTriangle 20s linear infinite;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/triangle.svg);
  background-size: cover;
  background-position: center;
  width: 877px;
  height: 877px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  position: relative;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.resources__logo-zone {
  display: flex;
  justify-content: center;
  width: 1100px;
  margin: 80px auto 217px;
  list-style-type: none;
  padding: 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
  transition: opacity .2s linear;
}

.resources__logo:hover {
  opacity: .5;
}

.section-title_theme_dark {
  margin: 0 auto 20px;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.footer {
  display: flex;
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  color: inherit;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto 0;
}

.footer__column {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.footer__column a:last-child {
  margin-bottom: 16px;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.logo_place_footer {
  background-image: url(../images/logo_white.svg);
  background-position: center;
  background-size: cover;
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_copyright {
  align-items: flex-start;
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column-link {
  text-decoration: none;
  color:inherit;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity .2s linear;
}

.footer__column-link:hover {
  opacity: .6;
}

.footer__column-links {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}

.footer__column-link_facebook::before {
  content: url(../images/facebook_white.svg);
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link_vkontakte::before {
  content: url(../images/vk_white.svg);
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link_instagram::before {
  content: url(../images/instagram_white.svg);
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
